@page "/"
@inject IConfiguration config

<h2>@HelloMessage</h2>

@code {
    public string HelloMessage = "";

    protected override void OnInitialized()
    {
        HelloMessage = config["helloMessage"];
    }
}